<section class="container">

    <form class="login-form">
        <div class="login content">
            <div class="login-user">
                <i class="fal fa-user"></i>
            </div>

            <div class="from-group">
                <div class="form-controller">
                    <span><i class="fas fa-user"></i></span>
                    <input type="text" placeholder="Username" autofocus>
                </div>
                <div class="form-controller">
                    <span><i class="fas fa-lock-alt"></i></span>
                    <input type="text" placeholder="Password">
                </div>
                <div class="form-controller">
                    <span><i class="fas fa-globe-americas"></i></span>
                    <select name="languages" id="languages">
                      <option value="english" class="language">English</option>
                      <option value="persian" class="language">Persian </option>
                    </select>
                </div>
                <div class="form-controller">
                    <button type="button" disabled>Login</button>
                </div>
            </div>


        </div>
    </form>


</section>



<router-outlet></router-outlet>