<section class="container" [dir]="textDirection">

    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
        <div class="login content">
            <div class="login-user">
                <i class="fal fa-user"></i>
            </div>

            <div class="from-group">
                <div class="form-controller">
                    <span><i class="fas fa-user"></i></span>
                    <input type="text" placeholder="{{'Login.UserName' |
                        translate}}" autofocus formControlName="userName">
                </div>
                <div class="form-controller">
                    <span><i class="fas fa-lock-alt"></i></span>
                    <input type="password" placeholder="{{'Login.Password' |
                        translate}}" formControlName="password" minlength="4" maxlength="8">
                </div>
                <div class="form-controller">
                    <span><i class="fas fa-globe-americas"></i></span>
                    <select name="languages" id="languages" #selectLanguage (change)="translateLanguageTo(selectLanguage.value)">
                        <option *ngFor="let language of translate.getLangs()"
                            [value]="language" class="language"
                            [selected]="language == language">
                            {{ language =='Persian' ? 'فارسی' : 'English' }}
                        </option>
                  
                    </select>

                </div>
                <div class="form-controller">
                    <!-- <button type="button" [disabled]="loginForm.valid ? 'false' : 'true'" [ngClass]="loginForm.valid ? 'enabled' : 'disabled' ">
                        {{'Login.Login'| translate}}
                    </button> -->
                </div>
            </div>


        </div>
    </form>


</section>



<router-outlet></router-outlet>