/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$white: rgb(240, 240, 240);
$gray: #adb3cd;
$drak-blue: #00264d;
$light-blue: #355075;
$gray-color: #a8b5c9;